@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  width: '100%';
}

.rowContainer {
  position: relative;
}

.row {
  overflow-Y: auto;
  white-space: nowrap;
}

.rowLeft, .rowRight {
  top: 20px;
  position: absolute;
  z-index: 20;
}
.rowLeft {
  left: 5px;
}
.rowRight {
  right: 5px;
}

.select {
  vertical-align: bottom;
}
