@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  height: 100%;
  padding: 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.separator {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
