@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  width: 100%;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.meta {
  width: 200px;
  display: inline-block;
}

.numOfQuestions {
  text-align: center !important;
  vertical-align: top !important;
  width: 150px !important;
}

.button {
  vertical-align: top;
  margin-top: 20px;
  margin-left: auto;
}
