@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
}

.meta {
  width: 200px;
  display: inline-block;
}

.numOfQuestions {
  text-align: center !important;
  vertical-align: top !important;
  width: 150px !important;
}

.button {
  vertical-align: top;
  margin-top: 20px;
}
