@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  position: 'relative';
  padding: 16px;
  width: 100%;
}

.title {
  margin-top: 0;
}

.desc {
  margin-bottom: 1rem;
}

.tip {
  color: gray;
  margin-bottom: 0.5rem;
}

.label {
  display: flex;
  vertical-align: middle;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.chip {
  margin: 4px !important;
}

.add {
  position: absolute;
  top: 25px;
  right: 25px;
}
