@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  text-align: center;
  padding: 5px;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.button {
  margin-bottom: 5px;
}
