@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  padding: 20px;
  display: flex;
  flex-direction: row;
}

.cover {
  width: 300px;
  padding-right: 10px;
}

.imageHolder {
  position: relative;
  padding-bottom: 125%;
  background-color: '#f5f5f5';
  box-sizing: border-box;
  margin: '0 auto';
  overflow: hidden;
  width: 90%;
}

.image {
  position: absolute;
  width: 100%;
}

.publisher {
  display: inline-block;
  margin-right: 5px;
}
.inline {
  display: inline-block;
}
