@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.rolePicker {
  display: flex;
  flex-direction: column;
}

.rolePickerLabel {
  font-size: 8pt;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settings {
  font-weight: bold;
  font-size: 14pt;

  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}