@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  width: 100%;
}

.video {
  width: 100%;
}

.meta {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}

.date {
 margin-left: auto;
}
