@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.links {
  flex-grow: 1;
}

.manualDetails {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
