@import '../../variables.scss';

.root {
  border: 1px solid $errorColor;
  background-color: $errorColorMuted;

  padding: 5px; 
}

.warning {
  font-family: $baseFontFamily;
}

.warningHeader {
  font-weight: bold;
  font-size: 18pt;
}

.deleteButton {
  margin-top: 15px;
}