@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  color: white;

  align-self: stretch;
  flex-shrink: 0;

  min-height: 1em;
  padding: 10px;
  box-sizing: border-box;

  white-space: pre-wrap;
  word-break: break-all;

  border: none;
  border-radius: 15px;
  
  background-color: rgb(0, 188, 212);
}
