@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  margin-top: 5px;
  margin-bottom: 5px;
  
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.bubble {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profilePicture {
  flex-shrink: 0;
  
  margin-left: 5px;
  margin-right: 5px;
}