.root {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.cover {
  width: 200px;
}

.imageHolder {
  position: relative;
  padding-bottom: 125%;
  background-color: '#f5f5f5';
  box-sizing: border-box;
  margin: '0 auto';
  overflow: hidden;
  width: 90%;
}

.image {
  position: absolute;
  width: 100%;
}

.auxButtons {
  float: right;
  flex-grow: 1;
}

.enroll {
  float: right;
}
