/*
  color, fonts
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

$baseFontFamily: 'Roboto', sans-serif;

// colors from Material Design spec
$baseColor: #2196F3; //Blue 500
$lighterColor: #64B5F6; //Blue 300
$darkerColor: #1976D2; //Blue 700
$accentColor: #F48FB1; //Pink 200
$errorColor: #D50000; //Red A700
$errorColorMuted: #FF8A80; //Red A100