@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  display: flex;
  flex-direction: column;
}

.dropdownPickers {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  padding: 5px;
}

.select {
  margin: 5px;
}

.birthdatePicker {
  margin-left: 10px;
}