@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  margin-right: auto;
  font-size: 24pt;
  font-weight: bold;
}

.title {
  padding: 0 0.5em 0 0.5em;
}

.stepper {
  font-weight: bold;
  font-size: 14pt;
}

.saveControls {
  display: flex;
  flex-direction: row;
}

.backNextControls {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.child {
  margin: 25px;
  padding: 25px;
}